<!DOCTYPE html>
<html>
<head>
	<title>Graduating Student</title>
</head>
<body>	
	<h1>Enter the graduating student's name</h1>
	<form action=/delete method=post>
		<input type="text" name="name" placeholder="Name">
		<button type="submit">Delete Student</button> 
	</form>
</body>
</html>